body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 200px;
  margin-left: 200px;
}

.bounds {
  min-height: 5rem;
  margin-right: 50px;
  width: 5rem;
  height: fit-content;
  min-width: fit-content;
  size: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.draggable, .placeholder {
  aspect-ratio: 1/1;
  width: inherit;
  box-sizing: border-box;
}

.draggable {
  cursor: grab;
  -webkit-user-drag: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rebeccapurple;
  user-select: none;
}

.placeholder {
  scale: 0.8;
  background-color: gray;
}

.dragging {
  z-index: 2;
  aspect-ratio: 1/1;
  width: inherit;
  rotate: 10deg;
  position: absolute;
  pointer-events: none;
  cursor: grabbing;
}

.item {
  aspect-ratio: 1/1;
  width: 80%;

}